@using propertymanagement.web.Areas.Marketing.Models;
@model RentUnitListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var action = ViewBag.Action;
    var OutletType = ViewBag.OutletType;
    var UnitType = ViewBag.UnitType;
    var Departement = ViewBag.Departement;
    var Keterangan = ViewBag.Keterangan;
    var ChargeTo = ViewBag.ChargeTo;
    var MarketingAgent = ViewBag.MarketingAgent;
    var Owner = ViewBag.Owner;
    var Tenant = ViewBag.Tenant;
    var Lob = ViewBag.Lob;
    var rentDData = ViewBag.rentDData;
    var DueDate = ViewBag.DueDate;
    var NextKsmPsm = ViewBag.NextKsmPsm;
    var RentData = ViewBag.RentData;
    var RentDataJson = ViewBag.RentDataJson;
    
    //List
    //foreach (var item in rentDData)
    //{
        
    //}

    var compid = "";
    var userid = 0;
}

<style>
    .reference-form {
        width: 50%;
        margin: auto;
        padding: 20px 20px 5px 20px;
        margin-bottom: 30px;
    }

    input, select, textarea {
        max-width: none !important;
    }

    .date-input {
        width: 50% !important
    }

    .search-button {
        background-color: #e6e6e6;
        cursor: default;
    }

        .search-button:hover {
            background-color: #e6e6e6;
        }

    .search-button-outlet {
        background-color: white;
        cursor: pointer;
    }

        .search-button-outlet:hover {
            background-color: #e6e6e6;
        }

    .rent-icon {
        color: black !important;
    }

    .swal2-container {
        z-index: 999999 !important; /* Higher than Bootstrap modal z-index (1050) */
    }
</style>
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item">
                    <a asp-action="Index" asp-controller="Rent" class="m-nav__link">
                        <span class="m-nav__link-text">Rent</span>
                    </a>
                </li>
                <li class="m-nav__item m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">
                            @(action)
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-primary" style="margin-bottom:0px">
    <div class="panel-heading">
        <h3 class="panel-title">Rent</h3>
    </div>
</div>
<div class="m-content" style="padding-left:20px; padding-right:20px">
    <div class="row">
        <div class="col-xs-12 box-content">
            <div class="portlet-body">
                <div class="box-body no-padding">
                    @{
                        var route = "/Marketing/Rent/Rent/Edit";
                    }
                    <form id="form-rent-ksm" action="@( route )" data-title-action="save" method="post" onsubmit="return handleSubmit(this, submitData)">
                        <br />

                        <input type="text" style="display:none" name="rentId" id="rentId" value="@RentData.rentId" />
                        <div id="ksm-reference">
                            <div class="row">
                                <div class="col-12">
                                    <div class="border reference-form">
                                        <div class="form-group row">
                                            <label class="col-md-5 control-label">Type</label>
                                            <div class="col-md-7">
                                                <input type="radio" name="Type" id="Type" value="1" @(RentData.ksmType == 1 ? "checked" : "") @(action == "Details" ? "disabled" : "") /> Master
                                                <input type="radio" name="Type" id="Type" value="2" @(RentData.ksmType == 2 ? "checked" : "") @(action == "Details" ? "disabled" : "") /> Reference
                                                <input type="radio" name="Type" id="Type" value="3" @(RentData.ksmType == 3 ? "checked" : "") @(action == "Details" ? "disabled" : "") /> Adendum
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-5 control-label">PSM Number</label>
                                            <div class="col-md-7">
                                                <div class="input-group">
                                                    <input type="text" name="PSMNumberRef" id="PSMNumberRef" class="form-control" value="@RentData.refId" readonly />
                                                    <span class="input-group-addon search-button" id="openPsm">
                                                        <i class="rent-icon glyphicon rent-icon glyphicon-search"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-5 control-label">KSM Number</label>
                                            <div class="col-md-7">
                                                <input type="text" name="KSMNumberRef" id="KSMNumberRef" class="form-control" value="@RentData.refId" readonly />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @{
                                if (NextKsmPsm != null)
                                {
                                    foreach (var item in NextKsmPsm)
                                    {
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-5 control-label">Next KSM No</label>
                                                <div class="col-md-7">
                                                    <input type="text" name="NextKSMNumber" id="NextKSMNumber" class="form-control" readonly value="@item.lastKsmNo" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-5 control-label">Next PSM No</label>
                                                <div class="col-md-7">
                                                    <input type="text" name="NextPSMNumber" id="NextPSMNumber" class="form-control" readonly value="@item.lastPsmNo" />
                                                </div>
                                            </div>
                                        </div>
                                    }

                                }
                            }

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label class=" control-label">Automatic KSM No</label>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group row">
                                    <label class="col-md-5 control-label">Tipe Unit</label>
                                    <div class="col-md-7">
                                        <select class="form-control" name="tipeUnit" id="tipeUnit" @(action == "Details" ? "disabled" : "")>
                                            <option value="00000000-0000-0000-0000-000000000000">-- Please Select --</option>
                                            @{
                                                if (UnitType != null)
                                                {
                                                    foreach (var item in UnitType)
                                                    {
                                                        <option value="@item.unitTypeId" @(RentData.tipeUnitId == item.unitTypeId ? "selected" : "")>@item.unitTypeName</option>
                                                    }

                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group row">
                                    <label class="col-md-5 control-label">Departement</label>
                                    <div class="col-md-7">
                                        <select class="form-control" name="departement" id="departement" @(action == "Details" ? "disabled" : "")>
                                            <option value="00000000-0000-0000-0000-000000000000">-- Please Select --</option>
                                            @{
                                                if (Departement != null)
                                                {
                                                    foreach (var item in Departement)
                                                    {
                                                        <option value="@item.departementId" @(RentData.deptId == item.departementId ? "selected" : "")>@item.departementName</option>
                                                    }

                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group row">
                                    <label class="col-md-5 control-label">Keterangan</label>
                                    <div class="col-md-7">
                                        <select class="form-control" name="keterangan" id="keterangan" @(action == "Details" ? "disabled" : "")>
                                            <option value="00000000-0000-0000-0000-000000000000">-- Please Select --</option>
                                            @{
                                                if (Keterangan != null)
                                                {
                                                    foreach (var item in Keterangan)
                                                    {
                                                        <option value="@item.keteranganId" @(RentData.descriptionId == item.keteranganId ? "selected" : "")>@item.keteranganName</option>
                                                    }

                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div id="body-form" style="margin-top:10px">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">KSM Date</label>
                                        <div class="col-md-7">
                                            <div class="input-group  date-input">
                                                <input type="text" name="KSMDate" id="KSMDate" class="form-control datepicker_allow_back_date" data-date-format="dd-mm-yyyy" value="@RentData.KSMDate.ToString("dd-MM-yyyy")" @(action == "Details" ? "disabled" : "") />
                                                <span class="input-group-addon" id="basic-addon2">
                                                    <i class="rent-icon glyphicon rent-icon glyphicon-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">KSM No</label>
                                        <div class="col-md-7">
                                            <input type="text" name="KSMNumber" id="KSMNumber" class="form-control" value="@RentData.KSMNumber" @(action == "Details" ? "disabled" : "") />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">PSM Date</label>
                                        <div class="col-md-7">
                                            <div class="input-group  date-input">
                                                <input type="text" name="PSMDate" id="PSMDate" class="form-control datepicker_allow_back_date" data-date-format="dd-mm-yyyy" value="@(RentData.PSMDate.ToString("dd-MM-yyyy") == "01-01-0001" ? DateTime.Now.ToString("dd-MM-yyyy") : RentData.PSMDate.ToString("dd-MM-yyyy"))" @(action == "Details" ? "disabled" : "") />
                                                <span class="input-group-addon" id="basic-addon2">
                                                    <i class="rent-icon glyphicon rent-icon glyphicon-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">PSM No</label>
                                        <div class="col-md-7">
                                            <input type="text" name="PSMNumber" id="PSMNumber" class="form-control" style="display: inline;width:60%" value="@RentData.PSMNumber" @(action == "Details" ? "disabled" : "") />
                                            <input type="checkbox" id="flagGenPSMNo" name="flagGenPSMNo" style="display: inline" @(action == "Details" ? "disabled" : "") /> Generate PSM No
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">Outlet Name</label>
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <input type="text" name="outletId" id="outletId" class="form-control" style="display: none;" value="@RentData.outletId" @(action == "Details" ? "disabled" : "")/>
                                                <input type="text" name="outletName" id="outletName" class="form-control" required value="@RentData.outletName" @(action == "Details" ? "disabled" : "") />
                                                <span class="input-group-addon search-button-outlet" id="basic-addon2" onclick="@(action == "Details" ? "" : "openOutlet()")">
                                                    <i class="rent-icon glyphicon rent-icon glyphicon-search"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">Outlet Type</label>
                                        <div class="col-md-7">
                                            <input type="text" name="outletType" id="outletType" class="form-control" style="display: none;" @(action == "Details" ? "disabled" : "") />
                                            <select class="form-control" name="outletTypeId" id="outletTypeId" @(action == "Details" ? "disabled" : "")>
                                                <option value="00000000-0000-0000-0000-000000000000">-- Please Select --</option>
                                                @{
                                                    if (OutletType != null)
                                                    {
                                                        foreach (var item in OutletType)
                                                        {
                                                            <option value="@item.outletTypeId" @(RentData.outletTypeId == item.outletTypeId ? "selected" : "")>@item.outletTypeName</option>
                                                        }

                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">FoodCourt</label>
                                        <div class="col-md-7">
                                            <input type="checkbox" name="foodcourt" id="foodcourt" @(RentData.isFoodcourt == true ? "checked" : "") @(action == "Details" ? "disabled" : "") />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">Major Store</label>
                                        <div class="col-md-7">
                                            <input type="checkbox" name="majorStore" id="majorStore" @(RentData.isMajorStore == true ? "checked" : "") @(action == "Details" ? "disabled" : "") />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">Lob</label>
                                        <div class="col-md-7">
                                            <input type="text" name="lobId" id="lobId" class="form-control" style="display: none;" @(action == "Details" ? "disabled" : "") />
                                            <select class="form-control" name="lob" id="lob" @(action == "Details" ? "disabled" : "")>
                                                <option value="00000000-0000-0000-0000-000000000000">-- Please Select --</option>
                                                @{
                                                    if (Lob != null)
                                                    {
                                                        foreach (var item in Lob)
                                                        {
                                                            <option value="@item.lobId" @(RentData.lobId == item.lobId ? "selected" : "")>@item.lobName</option>
                                                        }

                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">Sub Lob</label>
                                        <div class="col-md-7">
                                            <input type="text" name="subLobId" id="subLobId" class="form-control" style="display: none;" @(action == "Details" ? "disabled" : "") />
                                            <select class="form-control" name="subLob" id="subLob" @(action == "Details" ? "disabled" : "")>
                                                <option value="00000000-0000-0000-0000-000000000000">-- Please Select --</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">ChargeTo</label>
                                        <div class="col-md-7">
                                            <select class="form-control" name="chargeTo" id="chargeTo" required @(action == "Details" ? "disabled" : "")>
                                                @{
                                                    if (ChargeTo != null)
                                                    {
                                                        foreach (var item in ChargeTo)
                                                        {
                                                            <option value="@item.chargeToId" @(RentData.chargeToId == item.chargeToId ? "selected" : "")>@item.chargeToName</option>
                                                        }

                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">Due Date</label>
                                        <div class="col-md-7">
                                            @{
                                                <span name="dueDateLbl" id="dueDateLbl">@RentData.dueDate</span>
                                                <input type="text" name="dueDate" id="dueDate" class="form-control" style="display:none" value="@RentData.dueDate" @(action == "Details" ? "disabled" : "") />

                                            }
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">Marketing Agent</label>
                                        <div class="col-md-7">
                                            @{
                                                var i = 0;
                                                if (MarketingAgent != null)
                                                {
                                                    foreach (var item in MarketingAgent)
                                                    {
                                                        if (RentData.marketingName == item.EmployeeName)
                                                        {
                                                            i++;
                                                        }
                                                    }
                                                }
                                            }
                                            <input type="text" name="marketingAgentName" id="marketingAgentName" class="form-control" value="@RentData.marketingName" style="@(i < 1 ? "" : "display: none;")" @(action == "Details" ? "disabled" : "") />
                                            <select class="form-control" name="marketingAgent" id="marketingAgent" style="@(i < 1 ? "display: none;" : "display: inline;");width:60%" @(action == "Details" ? "disabled" : "")>
                                                <option value>-- Please Select --</option>
                                                @{
                                                    if (MarketingAgent != null)
                                                    {
                                                        foreach (var item in MarketingAgent)
                                                        {
                                                            <option value="@item.EmployeeName" @(RentData.marketingName == item.EmployeeName ? "selected" : "")>@item.EmployeeName</option>
                                                        }

                                                    }
                                                }
                                            </select>
                                            <input type="checkbox" id="otherName" style="display: inline" @((MarketingAgent != null && i < 1) ? "checked" : "") / @(action == "Details" ? "disabled" : "")> Other Name
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">Temporary Tenant</label>
                                        <div class="col-md-7">
                                            <input type="checkbox" name="temporaryTenant" id="temporaryTenant" @(RentData.isTempTenant == true ? "checked" : "") @(action == "Details" ? "disabled" : "") /> (No)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">Owner</label>
                                        <div class="col-md-7">
                                            <select class="form-control" name="owner" id="owner" @(action == "Details" ? "disabled" : "") required>
                                                @{
                                                    if (Owner != null)
                                                    {
                                                        foreach (var item in Owner)
                                                        {
                                                            <option value="@item.ownerId" @(RentData.ownerId == item.ownerId ? "selected" : "")>@item.ownerName</option>
                                                        }

                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">Tenant</label>
                                        <div class="col-md-7">
                                            <select class="form-control" name="tenant" id="tenant" @(action == "Details" ? "disabled" : "") required>
                                                @{
                                                    if (Tenant != null)
                                                    {
                                                        foreach (var item in Tenant)
                                                        {
                                                            <option value="@item.tenantId" @(RentData.tenantId == item.tenantId ? "selected" : "")>@item.tenantName</option>
                                                        }

                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">Rent Period (Months)</label>
                                        <div class="col-md-7">
                                            <input type="text" name="periodMonth" maxlength="3" id="periodMonth" class="form-control" style="width:70px" value="@RentData.periodMonth" @(action == "Details" ? "disabled" : "") required />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">Rent Period (Year)</label>
                                        <div class="col-md-7">
                                            <input type="text" name="periodYear" maxlength="4" id="periodYear" class="form-control" style="width:100px" value="@RentData.periodYear" readonly @(action == "Details" ? "disabled" : "") />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">Hand-Over Date</label>
                                        <div class="col-md-7">
                                            <div class="input-group  date-input">
                                                <input type="text" name="handoverDate" id="handoverDate" class="form-control datepicker_allow_back_date" data-date-format="dd-mm-yyyy" value="@RentData.handoverDate.ToString("dd-MM-yyyy")" @(action == "Details" ? "disabled" : "") />
                                                <span class="input-group-addon" id="basic-addon2">
                                                    <i class="rent-icon glyphicon rent-icon glyphicon-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">Hand-Over Date (Realization)</label>
                                        <div class="col-md-7">
                                            <div class="input-group  date-input">
                                                <input type="text" name="handoverDateRl" id="handoverDateRl" class="form-control datepicker_allow_back_date" data-date-format="dd-mm-yyyy" value="@RentData.handoverDateReal.ToString("dd-MM-yyyy")" @(action == "Details" ? "disabled" : "") />
                                                <span class="input-group-addon" id="basic-addon2">
                                                    <i class="rent-icon glyphicon rent-icon glyphicon-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">

                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">Fitting Out Period (Days)</label>
                                        <div class="col-md-7">
                                            <input type="text" name="fittingoutPeriod" id="fittingoutPeriod" class="form-control" style="width:70px" required value="@RentData.fittingoutPeriod" @(action == "Details" ? "disabled" : "") />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">Outlet Open Date</label>
                                        <div class="col-md-7">
                                            <div class="input-group  date-input">
                                                <input type="text" name="outletOpenDt" id="outletOpenDt" class="form-control datepicker_allow_back_date" value="@RentData.openDate.ToString("dd-MM-yyyy")" data-date-format="dd-mm-yyyy" @(action == "Details" ? "disabled" : "")/>
                                                <span class="input-group-addon" id="basic-addon2">
                                                    <i class="rent-icon glyphicon rent-icon glyphicon-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">Outlet Open Date (Realization)</label>
                                        <div class="col-md-7">
                                            <div class="input-group  date-input">
                                                <input type="text" name="outletOpenDtRl" id="outletOpenDtRl" class="form-control datepicker_allow_back_date" value="@RentData.openDateReal.ToString("dd-MM-yyyy")" data-date-format="dd-mm-yyyy" @(action == "Details" ? "disabled" : "") />
                                                <span class="input-group-addon" id="basic-addon2">
                                                    <i class="rent-icon glyphicon rent-icon glyphicon-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">Rent Start Date</label>
                                        <div class="col-md-7">
                                            <div class="input-group  date-input">
                                                <input type="text" name="rentStartDt" id="rentStartDt" class="form-control datepicker_allow_back_date" value="@RentData.startDate.ToString("dd-MM-yyyy")" data-date-format="dd-mm-yyyy" @(action == "Details" ? "disabled" : "") />
                                                <span class="input-group-addon" id="basic-addon2">
                                                    <i class="rent-icon glyphicon rent-icon glyphicon-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">Rent End Date (KSM)</label>
                                        <div class="col-md-7">
                                            <div class="input-group  date-input">
                                                <input type="text" name="rentEndDtKsm" id="rentEndDtKsm" class="form-control datepicker_allow_back_date" value="@RentData.endDateKsm.ToString("dd-MM-yyyy")" data-date-format="dd-mm-yyyy" @(action == "Details" ? "disabled" : "") />
                                                <span class="input-group-addon" id="basic-addon2">
                                                    <i class="rent-icon glyphicon rent-icon glyphicon-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">Extra Term (Months)</label>
                                        <div class="col-md-7">
                                            <input type="text" name="extraTerm" id="extraTerm" class="form-control" style="width:50px" required value="@RentData.extraTerm" @(action == "Details" ? "disabled" : "") />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">Extra Term (Days)</label>
                                        <div class="col-md-7">
                                            <input type="text" name="extraTermDay" id="extraTermDay" class="form-control" style="width:50px" value="@RentData.extraTermDay" @(action == "Details" ? "disabled" : "") />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">Rent End Date</label>
                                        <div class="col-md-7">
                                            <div class="input-group  date-input">
                                                <input type="text" name="rentEndDt" id="rentEndDt" class="form-control datepicker_allow_back_date" value="@RentData.endDate.ToString("dd-MM-yyyy")" data-date-format="dd-mm-yyyy" @(action == "Details" ? "disabled" : "") />
                                                <span class="input-group-addon" id="basic-addon2">
                                                    <i class="rent-icon glyphicon rent-icon glyphicon-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">Grace Period (Months)</label>
                                        <div class="col-md-7">
                                            <input type="text" name="gracePeriod" id="gracePeriod" class="form-control" required style="width:50px" value="@RentData.gracePeriod" @(action == "Details" ? "disabled" : "") />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">Grace Period (Days)</label>
                                        <div class="col-md-7">
                                            <input type="text" name="gracePeriodDay" id="gracePeriodDay" required class="form-control" style="width:50px" value="@RentData.gracePeriodDay" @(action == "Details" ? "disabled" : "") />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">Charge Start Date</label>
                                        <div class="col-md-7">
                                            <div class="input-group  date-input">
                                                <input type="text" name="chargeStartDt" id="chargeStartDt" class="form-control datepicker_allow_back_date" value="@RentData.chargeDateFrom.ToString("dd-MM-yyyy")" data-date-format="dd-mm-yyyy" @(action == "Details" ? "disabled" : "") />
                                                <span class="input-group-addon" id="basic-addon2">
                                                    <i class="rent-icon glyphicon rent-icon glyphicon-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">NPWP</label>
                                        <div class="col-md-7">
                                            <input type="text" name="npwp" id="npwp" class="form-control" value="@RentData.npwp" @(action == "Details" ? "disabled" : "") />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">Group</label>
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <input type="text" name="groupId" id="groupId" class="form-control" style="display: none;" value="@RentData.groupingId" @(action == "Details" ? "disabled" : "") />
                                                <input type="text" name="group" id="group" class="form-control" value="@RentData.groupName" @(action == "Details" ? "disabled" : "") />
                                                <span class="input-group-addon search-button-outlet" id="basic-addon2" onclick="@(action == "Details" ? "" : "openGroup()")">
                                                    <i class="rent-icon glyphicon rent-icon glyphicon-search"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">Virtual Account Rent</label>
                                        <div class="col-md-7">
                                            <input type="text" name="virtualAccountRent" id="virtualAccountRent" class="form-control" maxlength="7" value="@RentData.virtualAccountRent" @(action == "Details" ? "disabled" : "") />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">Virtual Account MF-Utility</label>
                                        <div class="col-md-7">
                                            <input type="text" name="virtualAccountMFUtl" id="virtualAccountMFUtl" class="form-control" maxlength="7" value="@RentData.virtualAccountMFUtl" @(action == "Details" ? "disabled" : "") />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label" id="ksmStatusLbl"></label>
                                        <div class="col-md-7">
                                            <input type="checkbox" name="ksmStatus" id="ksmStatus" class="form-control" style="display: none" @(action == "Details" ? "disabled" : "") />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">ReGen PaymentSchedule</label>
                                        <div class="col-md-7">
                                            <input type="checkbox" name="flagReGenPaymentSchedule" id="flagReGenPaymentSchedule" @(action == "Details" ? "disabled" : "") />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">MaintenanceFee From</label>
                                        <div class="col-md-7">
                                            <div class="input-group  date-input">
                                                <input type="text" name="txtStartDateMF" id="txtStartDateMF" class="form-control datepicker_allow_back_date" data-date-format="dd-mm-yyyy" @(action == "Details" ? "disabled" : "") />
                                                <span class="input-group-addon" id="basic-addon2">
                                                    <i class="rent-icon glyphicon rent-icon glyphicon-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">MaintenanceFee To</label>
                                        <div class="col-md-7">
                                            <div class="input-group  date-input">
                                                <input type="text" name="txtEndDateMF" id="txtEndDateMF" class="form-control datepicker_allow_back_date" data-date-format="dd-mm-yyyy" @(action == "Details" ? "disabled" : "") />
                                                <span class="input-group-addon" id="basic-addon2">
                                                    <i class="rent-icon glyphicon rent-icon glyphicon-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div style="margin-top:20px">
                                @Html.Partial("~/Areas/Marketing/Views/Rent/Rent/_NewUnit.cshtml")
                            </div>

                            <div style="margin-top:20px">
                                @Html.Partial("~/Areas/Marketing/Views/Rent/Rent/_TelpList.cshtml")
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-2 control-label">Remark</label>
                                        <div class="col-md-10">
                                            <textarea name="remark" id="remark" class="form-control" @(action == "Details" ? "disabled" : "")>@RentData.remarks</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <hr />
                            <div class="row" style="float: right;padding-right: 60px;">
                                <div class="col-md-2 col-md-offset-3">
                                    <div class="col-lg-offset-2" style="padding-left:10px">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    @if ( action == "Edit" )
                                    {
                                        <button type="button" onclick="validation('#form-rent-ksm')" class="btn btn-success" id="btn-edit">Save</button>
                                    }
                                    <button type="button" class="btn btn-danger" onclick="backToList()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="PopUpUnit">
        @Html.Partial("~/Areas/Marketing/Views/Rent/Rent/_ModalPSM.cshtml")
        @Html.Partial("~/Areas/Marketing/Views/Rent/Rent/_ModalEditNewUnit.cshtml")
        @Html.Partial("~/Areas/Marketing/Views/Rent/Rent/_ModalOutlet.cshtml")
        @Html.Partial("~/Areas/Marketing/Views/Rent/Rent/_ModalGroup.cshtml")
        @Html.Partial("~/Areas/Marketing/Views/Rent/Rent/_ModalUnit.cshtml")
    </div>
    <div id="PopUpTelp">
        @Html.Partial("~/Areas/Marketing/Views/Rent/Rent/_ModalTelp.cshtml")
        @Html.Partial("~/Areas/Marketing/Views/Rent/Rent/_ModalEditTelp.cshtml")
    </div>
</div>
@section Scripts{
    <script src="~/js/jsfile/Rent/AddEdit.js"></script>
    <script type="text/javascript" src="~/js/jsfile/functions.js?v1.0"></script>
    <script type="text/javascript">
        var action = "@action";
        var userid = "@userid";

        var rentDData = @Html.Raw(rentDData);
        var rentData = @Html.Raw(RentDataJson);
        dataUnit = rentDData[0].Unit;
        dataTelp = rentDData[0].Telp;
    </script>
}