
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="form-edit" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" role="form">

    <div class="page-head">
        <div class="page-title">
            <h1>Edit User</h1>
        </div>
    </div>
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="home">master</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", "UserInfo")">User Info</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span class="active">User Edit</span>
        </li>
    </ul>
    <div id="overlay"></div>
    <div class="row">
        <div class="col-md-12">
        </div>
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-blue sbold uppercase blue">User Edit</span>
                    </div>
                </div>

                <div class="portlet-body form">
                    @*@using (Html.BeginForm("Create", "UserInfo", FormMethod.Post, new { role = "form", id = Model.Id, @class = "form-horizontal" }))
                        {*@
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <input type="text" id="Id" name="Id" value="@Model.Id" class="form-control hidden" />
                                    <label class="col-md-5 control-label">User Name </label>

                                    <div class="col-md-7">
                                        <input type="text" id="UserName" name="UserName" value="@Model.UserName" class="form-control" required="required" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-5 control-label">Password</label>
                                    <div class="col-md-7">
                                        <input type="password" id="Password" name="Password" value="@Model.Password" class="form-control" required="required" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-5 control-label">Full Name</label>
                                    <div class="col-md-7">
                                        <input type="text" id="FullName" name="FullName" value="@Model.FullName" class="form-control" required="required" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-5 control-label">Address</label>
                                    <div class="col-md-7">
                                        <input type="text" id="Address" name="Address" value="@Model.Address" class="form-control" required="required" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-5 control-label">Email</label>
                                    <div class="col-md-7">
                                        <input type="text" id="Email" name="Email" value="@Model.Email" class="form-control" required="required" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions right">
                @*<button type="button" class="btn btn-outline btn-circle btn-md blue" data-toggle="modal" data-target="#update_modal"><i class="fa fa-save"></i> Save</button>*@
                <input type="button" id="btnsaveedituser" value="Save" class="btn btn-outline btn-circle btn-md blue" />

            </div>
            @*                        }*@
        </div>
    </div>

</form>
@section Scripts{
    <script src="~/js/PopUp.js"></script>
}

